<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QE Cloud Intership Challenge</title>
    </head>
    <body>
        <form action="" method="POST">
            <label for="message">Insira a mensagem no campo abaixo:</label>
            <input type="text" name="message">
            <input type="submit">
        </form>

        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{row[0]}} {{row[1]}} </td> <br>
                </tr>
            {% endfor %}
        </tbody>
    </body>
</html>